.report-details{
    padding-top: 20px;
    margin-top: 5%;
}

.report-details input, select, textarea{
    display: inline-block;
    width: 100%;
    margin: 0px auto;
    padding: 5px 0px 5px 20px;
    border: 1px solid grey;
    border-radius: 5px;
}

.text-area{
    padding-left: 5%;
    padding-right: 5%;
    
}

.text-area h6{
    padding: 5px 0 0 5px;
    color: grey;
    font-size: 1em;
}

.report-details input{
    padding: 2px 0px 2px 20px;
}

.report-details h6{
    padding: 5px 0 0 5px;
    color: grey;
    font-size: 1em;
}

.report-details p span{
    color: rgb(175, 11, 11);
    font-size: 0.8em;
    font-style: italic;
    padding-left:15px; 

}

.pointer{
    cursor: pointer;
}

.custom-btn{
    background-color: rgba(255, 115, 0, 0.808);
    box-shadow: 0px 5px 0px 0px #A66615;
    padding: 10px;
    border: none;
    float: right;
    margin: 20px;
    display: block;
    position: relative;
    float: right;
    width: 120px;
    padding: 0;
    margin: 10px 20px 10px 0;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    border-radius: 5px;
    transition: all 0.2s ;
}

.custom-btn:hover {
    box-shadow: 0px 0px 0px 0px #A66615;
}

.custom-btn:disabled{
    background-color: rgba(255, 115, 0, 0.808);
    float: right;
}

